<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
.container-fluid {
  width: auto !important;
  text-align: center !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.cities {
    background-color: black;
    color: blue;
    margin: 20px;
    padding: 20px;
}
html {
  height: 100%;
}
</style>

<script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    if (h >= 12) {
      h = h - 12;     dd = "PM";
    }
    if (h == 0) {
      h = 12;
    }
    document.getElementById('clock').innerHTML =
    h + ":" + m <!--+ ":" + s-->;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>

<head>
    <title>Smart Mirror </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color:black;height:100%" onload="startTime()">
    <div style="position: relative; width: 100%; min-height: 100%" class="container"  class="cities">

      <h1><font color="white"><div style="position: absolute; top: 10%"  align="center"id="clock"></div></font></h1>

      <div style="position: absolute; bottom: 10%" class="container-fluid" align="center">
        <h2><font color="white">{{ quote['Phrase'] }}</font></h2>
        <br>
        <h3 class="text-muted">-{{ quote['Person'] }}</h3>
      </div>
    </div>

</body>
</html>
